.anime-two-main-container {
    width: 100%;
    height: 100vh !important;
    // background-color:bisque;
    // background-color: #000;

    // filter: drop-shadow(30px 10px 4px blue);
    
    // filter: grayscale(1);


    div {
        img {
            mix-blend-mode: screen;
        }
    }

}